<!--<div class ="container-fluid">

    <div class = "row">

        <div class="col-md-4">
            <div class="user-list-card">
                <div class="user-card">
                    <app-contacts></app-contacts>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="messages">
                <app-messages></app-messages>
            </div>
        </div>

    </div>

</div>-->

<!--<div id="chat-container">
        <div id="search container">
              <app-serach></app-serach>
            <input type="text" placeholder="Search" />
        </div>

        <div id="conversation list">
            <app-contacts></app-contacts>
        </div>

        <div id="new-message-container">

        </div>

        <div id="chat-title">
            
        </div>

        <div id="chat-message-list">
            
        </div>

        <div id="chat-form">
            
        </div>
</div>-->

<div class="wrapper">
    <div class="nested-left">
        <div class="user-card">
            <p>user card</p>
        </div>

        <div class="search">
            <app-search></app-search>
        </div>

        <div class="contacts">
            <app-contacts></app-contacts>
        </div>
    </div>

    <div class="nested-center">
        <div class="chat-title">
            <p>chat name</p>
        </div>

        <div class="chat window">
            
        </div>

        <div class="new-message-container">
            <app-new-message></app-new-message>
        </div>
    </div>    

    <div class="nested-right">
        <div class="search">
            <app-search></app-search>
        </div>

        <div class="user attachments">
            
        </div>
    </div>

</div>

